// @if
@mixin blockOrHidden($boolean: true) {
    @if $boolean {
        @debug "$boolean is #{$boolean}";
        display: block;
    } @else {
        @debug "$boolean is #{$boolean}";
        display: none;
    }
}
.block {
    @include blockOrHidden;
}
.hidden {
    @include blockOrHidden(false);
}

// @for - through, to
@for $i from 1 through 3 {
  .item-#{$i} { width: 2em * $i; }
}

@for $i from 1 to 3 {
    .node-#{$i} { width: 2em * $i; }
}

$grid-prefix: span !default;
$grid-width: 60px !default;
$grid-gutter: 20px !default;

%grid {
    float: left;
    margin-left: $grid-gutter / 2;
    margin-right: $grid-gutter / 2;
}
@for $i from 1 through 12 {
    #{$grid-prefix}-#{$i} {
        width: $grid-width * $i + $grid-gutter * ($i - 1);
        @extend %grid;
    }
}
// @for $i from 1 to 13 {
//     #{$grid-prefix}-#{$i} {
//         width: $grid-width * $i + $grid-gutter * ($i - 1);
//         @extend %grid;
//     }
// }

// @while
$types: 4;
$type-width: 20px;

@while $types > 0 {
    .while-#{$types} { width: $type-width + $types; }
    $types: $types - 1;
}

// @each
$list: adam john wynn mason kuroir;
@mixin author-images {
    @each $author in $list {
        .photo-#{$author} {
            background: url("/images/avatars/#{$author}.png") no-repeat;
        }
    }
}
.author-bio {
    @include author-images;
}

// Sass - Functions
// String Functions
// unquote($str)
// quote($str)
.test1 { content: unquote('Hello Sass!'); }
.test2 { content: unquote("'Hello Sass!'"); }
.test3 { content: unquote("I'm Web Designer"); }
.test4 { content: unquote('"Hello Sass!"'); }

.test1a { content: quote('Hello Sass!'); }
.test2a { content: quote("Hello Sass!"); }
.test3a { content: quote(' '); }

.test1b { text: to-upper-case(aaaaa); }
.test2b { text: to-upper-case(aA-aAAA-aaa); }

.test3b { text: to-lower-case(AAAAA); }
.test4b { text: to-lower-case(aA-aAAA-aaa); }

// Numeric Functions
.num1 {
    width: percentage(.2);
    height: percentage(2px / 10px);
    margin-top: percentage(2em / 10em);
}

.num2 {
    width: round(2px / 3px);
    height: round(2.2%);
    padding-top: round(14.5px);
}

.num3 {
    width: ceil(106.4px);
    height: floor(106.4px);
    margin-top: abs(-28.9px);
    margin-bottom: random();
}

